$pc: 992px; // PC 1024px
$tab: 768px; // タブレット

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

.shop-name {
  font-size: 18px;
  border-bottom: solid 1px #C0C0C0;
  margin: 20px 0 0 0;;
  @include tab {
    font-size: 22px;
    margin: 40px 0 0 0;
  }
}

.shop-body {
  margin: 20px 5px;
  @include tab {
    margin: 20px 68px;

  }
}


.shop-about {
  margin-left: 0px;
  display: inline;
  @include tab {
    font-size: 16px;
  }
}

.address {
    margin: 0 0 10px 3px;
}

.type {
  float: left;
  @include tab {
    font-size: 16px;
  }
}

.type-list {
  margin-left: 70px;
  @include tab {
    margin-left: 100px;
  }
}

.type-text {
  font-size: 15px;
  margin: 3px 0;
  @include tab {
    font-size: 17px;
  }
}

.description {
  font-size: 14px;
  margin-bottom: 30px;
  @include tab {
    font-size: 16px;
  }
}

.shop-text {
  font-size: 14px;
  @include tab {
    font-size: 16px;
  }
}


.join {
  display: inline;
}

.price-name {
  font-size: 14px;
  margin-left: 30px;
  display: block;
  @include tab {
    font-size: 16px;
    display: inline;
  }
}

.shop-price {
  margin-left: 35px;
  margin-top: 10px;
}

.personal-course {
  display: block;
  margin: 10px 0 0 0;

  @include tab {
    display: inline;
  }
}

.personal-time {
  display: inline;
  margin-left: 30px;
  @include tab {
    margin-left: 15px;
  }
}

.personal-price {
  display: inline;
  @include tab {
    margin-left: 10px;
  }
}

.open {
  margin-left: 30px;
  display: block;
  @include tab {
  }
}

.image-group {
  display: inline;
}

.shop-image {
  width: 25%;
  @include tab {
  }
}

.center-btn {
  text-align: center;
  margin: 5px 0 20px 0;
  @include tab {
    margin: 10px 0 30px 0;
  }
}

.btn-group {
  margin: 50px 0 30px 0;
  @include tab {
    margin: 100px 0 70px 0;
  }
}

.shop-btn {
  font-size: 12px;
  padding: 5px 15px;
  margin: 0 10px;
  @include tab {
    font-size: 16px;
    padding: 8px 30px;
    margin: 0 15px;
  }
}

.shop-btn-lg {
  font-size: 14px;
  padding: 7px 15px;
  margin: 0 10px;
  @include tab {
    font-size: 18px;
    padding: 10px 30px;
    margin: 0 15px;
  }
}

.price-item-name {
  width: 100px;
  display: inline;
  @include tab {
    width: 130px;
  }
}

.price-item {
  width: 80px;
  display: inline;
  @include tab {
    width: 100px;
  }
}

.form-join {
  margin-left: 58px;
  @include tab {
    margin-left: 83px;
  }
}

.form-tel {
  width: 70%;
  @include tab {
    width: 250px;
  }
}

.form-address {
  display: block;
  @include tab {
    display: inline;
  }
}

.form-number {
  width: 170px;
  @include tab {
    width: 230px;
  }
}

.form-ken {
  width: 100%;
  @include tab {
    width: 250px;
  }
}

.form-personal-c {
  width: 170px;
  display: block;
  @include tab {
    width: 230px;
    display: inline;
  }
}

.form-personal-t {
  width: 60px;
  margin-top: 5px;
  display: inline;
  @include tab {
    margin-left: 10px;
  }
}

.form-personal-p {
  width: 80px;
  margin-top: 5px;
  display: inline;
  @include tab {
    margin-left: 10px;
    width: 100px;
  }
}

.personal-group {
    border-bottom: solid 1px #C0C0C0;
    padding-bottom: 18px;
}

.trial-block {
    display: inline-block;
    width: 100%;
}

.trial-price {
    width: 100px;
    display: inline;
}

.admin-login {
    margin: 90px 0;
    @include tab {
        margin: 150px 0;
    }
}

.file-upload {
    font-size: 12px;
    width: 100%;
    @include tab {
        font-size: 16px;
    }
}

.admin-mypage-body {
    margin: 0 15px;
    @include tab {
        margin: 0 80px;
    }
}

a.show-btn.long-btn {
    width: 85px;
    @include tab {
        width: 133px;
    }
}
