@media only screen and (max-width: 480px) {
    .radio-inline {
        display: block;
    }
}

.icon {
    color: #808080;
}

.label {
    vertical-align: middle;
    padding: 0 0 15px 0;
}

.profile-img {
    width: 15%;
}

.review-user {
    width: 10%;
}






$pc: 992px; // PC 1024px
$tab: 768px; // タブレット

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

.error {
  color: red;
  font-size: 15px;
  font-weight: bold;
}
h1 {
  font-size: 16px;
  font-weight: bold;
  @include tab {
    font-size: 18px;

  }
}

h2 {
  font-size: 16px;
  font-weight: bold;

  @include tab {
    font-size: 18px;
  }
}

h3 {
  font-size: 14px;
  font-weight: bold;

  @include tab {
    font-size: 16px;
  }
}

label {
  font-size: 16px;

  @include tab {
      font-size: 18px;
  }
}

p {
  display: block;
  float: none;
  font-size: 14px;

  @include tab {
    font-size: 16px
  }

}

i {
  display: inline;
}

input[type=number] {
  text-align: right;
}

input.center {
  text-align: center;
}

//class
.page-title {
  margin: 35px 0 30px 0;
  text-align: center;
  @include tab {
    margin: 45px 0 40px 0;
  }
}

.card-group {
  margin-top: 15px;
  @include tab{
    margin-top: 20px;
  }
}


.body {
  margin: 10px 18px;

  @include tab {
    margin: 30px 48px;
  }

  @include pc {
    margin: 30px 68px;
  }
}

.profile {
  margin-top: 15px;

  @include tab {
    margin-top: 20px;
  }
}

.admin {
  margin-left: 8px;

  @include tab {
    margin-left: 16px;
  }

  @include pc {
    margin-left: 20px;
  }
}

.link {
  font-size: 13px;
  display: block;
  @include tab {
    font-size: 15px;
  }
}


.symbol {
  font-size: 12px;

  @include tab {
    font-size: 15px;
  }
}

.price-en {
  font-size: 8px;
  display: inline;
  @include tab {
    font-size: 10px;
  }
}

.warning-text {
  font-size: 12px;
  display: block;
  @include tab {
    font-size: 14px;
    display: inline;
  }
}

.i-con {
  width: 20px;
  @include tab {
    width: 25px;
  }
}
