$pc: 992px; // PC 1024px
$tab: 768px; // タブレット

@mixin tab {
  @media (min-width: ($tab)) {
    @content;
  }
}
@mixin pc {
  @media (min-width: ($pc)) {
    @content;
  }
}

@media only screen and (max-width: 480px) {
    .radio-inline {
        display: block;
    }
}

.icon {
    color: #808080;
}

.label {
    vertical-align: middle;
    padding: 0 0 15px 0;
}

.profile-img {
    object-fit: cover;
    height: 80px;
    width: 80px;
    float: left;
    position: relative;
    @include tab {
        width: 150px;
        height: 150px;
    }
}

.myname {
    position: absolute;
    top: 50px;
    left: 115px;
    @include tab {
        top: 114px;
        left: 237px;
    }
    @include pc {
        top: 142px;
        left: 265px;
    }
}

.review-group {
    display: inline-block;
    width: 100%;
}

.review-user {
    object-fit: cover;
    height: 70px;
    width: 70px;
    float: left;
    margin: 0 15px 10px 15px;
    position: relative;
    @include tab {
        height: 100px;
        width: 100px;
        margin: 7px 80px 10px 80px;
    }
}

.mypage-body {
    @include tab {
        padding: 50px;
    }
    @include pc {
        padding: 80px;
    }
}


.error {
  color: red;
  font-size: 15px;
  font-weight: bold;
}
h1 {
  font-size: 15px;
  font-weight: bold;
  @include tab {
    font-size: 18px;

  }
}

h2 {
  font-size: 14px;
  font-weight: bold;

  @include tab {
    font-size: 18px;
  }
}

h3 {
  font-size: 13px;
  font-weight: bold;

  @include tab {
    font-size: 16px;
  }
}

label {
  font-size: 12px;

  @include tab {
      font-size: 16px;
  }
}

p {
  display: block;
  float: none;
  font-size: 12px;

  @include tab {
    font-size: 16px
  }
}

li {
    font-size: 12px;
    @include tab {
        font-size: 16px;
    }
}

i {
  display: inline;
}

input[type=number] {
  text-align: right;
}

input.center {
  text-align: center;
}

//class
.app_imgtext {
    position: relative;
}

.app_imgtext p {
    position: absolute;
    color: white;
    top: 35%;
    left: 5%;
    font-size: 5px;
    text-shadow: 1px 1px 15px black, 0 0 1em black, 0 0 0.2em black;
    @media (min-width: 380px) {
        font-size: 12px;
    }
    @media (min-width: 420px) {
        font-size: 13px;
    }
    @media (min-width: 500px) {
        font-size: 15px;
    }
    @media (min-width: 600px) {
        font-size: 18px;
    }
    @include tab {
        font-size: 19px;
    }
    @media (min-width: 900px) {
        font-size: 22px;
        top: 40%;
    }
    @include pc {
        font-size: 22px;
        top: 40%;
        left: 10%;
    }
}

.main-text {
    text-align: center;
    font-size: 12px;
    margin: 40px 8px;
    @media (min-width: 500px) {
        font-size: 15px;
    }
    @include tab {
        font-size: 17px;
        line-height: 2em;
        margin: 60px 8px;
    }
}



.title {
  text-align: center;
}

.page-title {
  margin: 35px 0 30px 0;
  @include tab {
    margin: 45px 0 40px 0;
  }
}

.card-group {
  margin-top: 15px;
  @include tab{
    margin-top: 20px;
  }
}

.type-group {
    display: inline-block;
    width: 100%;

    .left-group {
        float: left;
    }

    .right-group {
        float: right;
    }
}

.top-ken {
    width: 95%;
    text-align: center;
    @include tab {
        width: 70%;
    }
}

.ken-submit {
    float: right;
}

.body {
  margin: 10px 18px;

  @include tab {
    margin: 30px 48px;
  }

  @include pc {
    margin: 30px 68px;
  }
}

.profile {
  margin-top: 15px;

  @include tab {
    margin-top: 20px;
  }
}

.admin {
  margin-left: 8px;

  @include tab {
    margin-left: 16px;
  }

  @include pc {
    margin-left: 20px;
  }
}

.link {
  font-size: 13px;
  display: block;
  @include tab {
    font-size: 15px;
  }
}


.symbol {
  font-size: 12px;

  @include tab {
    font-size: 15px;
  }
}

.price-en {
  font-size: 8px;
  display: inline;
  vertical-align: -webkit-baseline-middle;
  @include tab {
    font-size: 10px;
  }
}

.warning-text {
  font-size: 12px;
  display: block;
  @include tab {
    font-size: 14px;
    display: inline;
  }
}

.i-con {
  width: 20px;
  @include tab {
    width: 25px;
  }
}

.search_type {
  display: inline;
}



//カテゴリーの検索ボタン
.category-group input[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

.category-group p {
  display: block;
  position: relative;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: 2px solid #C0C0C0;
  border-radius: 10px;
  color: #000;
  background-color: #fff;
  white-space: nowrap;
  cursor: pointer;
  user-select: none;
  transition: background-color .2s, box-shadow .2s;
  font-size: 15px;
  @include pc {
    font-size: 16px;
  }
}

.category-group label {
  display: block;
}

.category-group p::before {
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  width: 32px;
  border: 3px solid #fff;
  border-radius: 100px;
  transition: background-color .2s;
}

/*.category-group label:hover, input:focus + label {
  box-shadow: 0 0 20px rgba(0, 0, 0, .6);
}*/

.category-group input:checked + p {
  background-color: #222222;
  color: #fff;
}

.category-group input:checked + p::before {
  background-color: #000000;
}

label.left-group {
    @media (min-width: 576px) {
        margin-left: -16px;
    }
}

label.right-group {
    @media (min-width: 576px) {
        margin-right: -16px;
    }
}

.myprofile {
    display: inline-block;
    width: 100%;
}





p.user-name {
    position: absolute;
    top: 40px;
    left: 98px;
    @include tab {
        top: 75px;
        left: 200px;
    }
}

p.review-shop {
    font-size: 17px;
    color: #000;
    border-bottom: solid 1px #cccccc;
    margin: 15px 0;
    @include tab {
      margin: 30px 0;
      font-size: 20px;
    }
}

p.review-address {
    margin: 5px 0 10px 3px;
}

.review-item {
    display: inline-block;
    width: 100%;
    margin: 5px 0 5px 0;
    @include tab {
        margin: 10px 0 10px 0;
    }
}

p.review-text {
    float: left;
    margin: 2px 3px 0 15px;
    position: absolute;
    @include tab {
      margin: 0 3px 0 80px;
    }
}

.review-star {
    display: inline;
    margin-left: 71px;
    font-size: 12px;
    vertical-align: text-bottom;
    @include tab {
        margin-left: 155px;
        font-size: 15px;
        vertical-align: baseline;
    }
}

p.review-point {
    display: inline;
    position: absolute;
    left: 185px;
    font-weight: bold;
    padding-top: 2px;
    @include tab {
        left: 300px;
    }
}

.review-text-group {
    margin: 15px;
    @include tab {
        margin: 15px 80px;
    }
}

label.review-coment {
    font-size: 14px;
}

p.review-merit {
    margin: 5px 3px;
}

i.far.fa-hand-point-down {
    margin-right: 2px;
    @include tab {
        margin-right: 0;
    }
}

i.fas.fa-undo {
    margin-right: 2px;
    vertical-align: middle;
}

p.review-update {
    display: inline;
}

p.review-updated_at {
    display: inline;
    margin-left: 15px;
}

.revier-btn-group {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}

.review-btn {
    padding: 5px 40px;
    @include tab {
      padding: 10px 60px;
      margin: 20px;
    }
}

.review-label {
    font-size: 14px;
    @include tab {
        font-size: 16px;
    }
}

h2.shop-name {
    color: #000;
}

a.new-review {
    font-size: 18px;
}

i.fas.fa-edit.fa-lg.review {
    vertical-align: baseline;
}

span {

    &.small-text {
        font-size: 13px;
        margin-left: 3px;
        vertical-align: middle;
    }

    &.favorite_count {
        font-size: 10px;

        @include tab {
            font-size: 12px;
        }
    }


}

.search-body {
    margin: 15px 0 10px 0;
    width: 100%;
    @include tab {
        margin: 30px 0 20px 0;
    }
}

.search-list {
    display: inline-block;
    width: 100%;
    @include tab {
        margin-top: 5px;
    }
}

.search-name {
    color: #000;
    display: inline;
    margin-left: 15px;
    @include tab {
        margin-left: 80px;
    }
}

.favorite-icon {
    float: right;
    font-size: 15px;
    margin-right: 15px;
    @include tab {
        font-size: 20px;
        margin-right: 80px;
    }
}

button.favorite-icon {
    margin-right: 0;
    background-color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(255, 255, 255);
    @include tab {
        margin-right: 55px;
    }
}

.show-btn {
    font-size: 12px;
    margin-right: 15px;
    width: 70px;
    @include tab {
      font-size: 15px;
      margin: 15px 30px 15px 0;
      width: 150px;
    }
}

.right-btn {
    float: right;
    display: block;
}

.modal-cont {
    margin: 0 10px 0 10px;
}

p.shop-img img {
    object-fit: cover;
    height: 190px;
    @media only screen and (min-width: 350px) {
        height: 240px;
    }
    @media only screen and (min-width: 420px) {
        height: 300px;
    }
    @media only screen and (min-width: 500px) {
        height: 330px;
    }
    @media only screen and (min-width: 576px) {
        height: 350px;
    }
    @include tab {
        height: 460px;
    }
    @include pc {
        height: 620px;
    }
}

form.favorite-form {
    display: inline;
}

.rv-ca-btn {
    font-size: 12px;
    @include tab {
      font-size: 15px;
      margin: 15px 30px 15px 0;
      width: 150px;
    }
}

.review-up-group {
    display: inline-block;
    margin: 5px 15px;
    @include tab {
        margin: 5px 80px;
    }
}

.title {
    text-align: center;
    margin-top: 30px;
}

.post-h2 {
    /* border-bottom: initial; */
    padding: 0.5em 1em;
    margin: 54px 0 10px 0;
    color: #232323;
    background: #ffffff;
    border-left: solid 10px #6a67ff;
}

.information {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.review-count {
    position: absolute;
    top: 70px;
    left: 217px;
    @include tab {
        top: 105px;
        left: 367px;
    }
}
// button.back-btn {
//     border-width: 0;
//     border-style: solid;
//     border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(255, 255, 255);
//     color: #000;
//     margin: 5px 0 0 5px;
//     background-color: #fff;
// }
